.searchBar-wrapper {
  width: fit-content;
  margin-bottom: 5em;
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon {
  position: absolute;
  left: 1em;
  color: #a1a1a1;
}
input:focus + .search-icon {
  color: white !important;
}
input {
  min-width: 45em;
  padding: 15px 2.3em;
  background: #333;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.clear-btn {
  position: absolute;
  right: 1em;
  background: none;
  border: none;
  cursor: pointer;
  transition-duration: .3s;
  width: 25px;
  height: 25px;
}
.clear-btn:hover svg {
  color: #6e72ff !important;
}
::placeholder {
  font-weight: 600;
}