.App {
  padding-inline: 10em;
  padding-top: 4em;
}
h1, a {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
a:focus {
  outline: 2px solid #0066ff;
}
.home-wrapper {
  padding-top: 3em;
}
.App > a {
  display: block;
  color: unset;
}
.filters {
  margin-top: 8em;
}
.slides-wrapper {
  margin-block: 7em;
}
.cuisine-container, .search-results-container {
  margin-block: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em 1em;
}
.cuisine-container img, .search-results-container img {
  border-radius: 10px;
  object-fit: cover;
  width: 21em;
  height: 14em;
}
.cuisine-container .image-container, .search-results-container .image-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.cuisine-container .image-container p, .search-results-container .image-container p {
  position: absolute;
  bottom: 1em;
  text-align: center;
  text-shadow: 2px 2px #000;
  font-weight: 600;
  font-size: 1.3em;
  color: white;
}
.recipe-details-container {
  display: flex;
  justify-content: center;
  margin-block: 7em 5em;
  gap: 5em;
}
.recipe-details-container a {
  display: inline;
}
.left-section img {
  width: 25em;
  height: 20em;
  border-radius: 5px;
  object-fit: cover;
}
.left-section .title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1em;
}
.right-section .buttons {
  margin-bottom: 2em;
}
.right-section .buttons button {
  padding: 12px 20px;
  margin-right: 1em;
  font-size: 18px;
  font-weight: 600;
  border: 3px solid #333;
  background: none;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: .3s;
}
.right-section .buttons button:hover,
.right-section .buttons button:focus,
.right-section .buttons button.active {
  background: #333;
  color: white;
}
.right-section .content {
  font-weight: bold;
  font-size: 18px;
  max-width: 700px;
  list-style: initial;
}
.content .instruction-wrapper {
  margin-left: 1em;
}
.right-section .content ol li 
{
  list-style: decimal;
}