.App {
  padding-inline: 10em;
  padding-top: 4em;
}
h1, a {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
a:focus {
  outline: 2px solid #0066ff;
}
.home-wrapper {
  padding-top: 3em;
}
.App > a {
  display: block;
  color: unset;
}
.filters {
  margin-top: 8em;
}
.slides-wrapper {
  margin-block: 7em;
}
.cuisine-container, .search-results-container {
  margin-block: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em 1em;
}
.cuisine-container img, .search-results-container img {
  border-radius: 10px;
  object-fit: cover;
}
.cuisine-container .image-container, .search-results-container .image-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.cuisine-container .image-container p, .search-results-container .image-container p {
  position: absolute;
  bottom: 1em;
  text-align: center;
  text-shadow: 2px 2px #000;
  font-weight: 600;
  font-size: 1.3em;
  color: white;
}